<div id="<%= dom_id part_kit %>">
  <p>
    <strong>Type:</strong>
    <%= part_kit.type %>
  </p>

  <p>
    <strong>Oem name:</strong>
    <%= part_kit.oem_name %>
  </p>

  <p>
    <strong>Purchase net price:</strong>
    <%= part_kit.purchase_net_price %>
  </p>

</div>
