<h1>Editing printer model</h1>

<%= render "form", printer_model: @printer_model %>

<br>

<div>
  <%= link_to "Show this printer model", @printer_model %> |
  <%= link_to "Back to printer models", printer_models_path %>
</div>
