<h1>Editing printer</h1>
<%= turbo_frame_tag "printer_#{@printer.id}" do %>
  <%= render "form", printer: @printer %>
<% end %>
<br>

<div>
  <%= link_to "Show this printer", @printer %> |
  <%= link_to "Back to printers", printers_path %>
</div>
