<p style="color: green"><%= notice %></p>

<h1 class="title">Printers</h1>

<div id="printers">
  <div class="box">
    <% @printers.each do |printer| %>
      <%= render printer %>
     <p>
        <%= link_to "Show this printer", printer %>
     </p>
   <% end %>
   <%= link_to "New printer", new_printer_path %>
  </div>
</div>