<p style="color: green"><%= notice %></p>

<h1 class="title">Printers</h1>

<div id="printers" class="box">
  <%= turbo_frame_tag "printers" do %>
   <%= render @printers %>
  <% end %>

   <%= link_to "New printer", new_printer_path %>
</div>