i.ion-chevron-down {
    font-size: 2rem;
    text-decoration: none;
}

i.ion-chevron-up {
    font-size: 2rem;
    text-decoration: none;
}

i.ion-ios-cog {
    font-size: 2rem;
    text-decoration: none;
}